body,html{
    position: relative;
}
#rzh_wrapper{
    position: absolute;
    left: 0;
    top: 140px;
    height: 79px;
    width: 100%;
    height: 79px;
    background: white;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 10px 20px #e0e0e0;
    display: none;
    /* z-index: 999; */
}
.rzh{
    height: 79px;
    background: white;
    display: flex;
    justify-content: space-between;
}
.rzh_case{
    width: 487px;
    height: 79px;
}
.rzh_case li{
    float: left;
    color: #616161;
    font-size: 12px;
    margin: 0 2px;
}
.rzh_case li:nth-child(1) a{
    font-size: 20px;
    color: #212121;
    cursor: progress;
}
.rzh_case li a{
    display: inline-block;
    font-size: 12px;
    color: #616161;
    line-height: 79px;
    vertical-align: middle;
}
.rzh_case li a:hover{
    color: #ff6700;
}
.rzh_case li:nth-child(1) a:hover{
    color: #212121;
}
.rzh_box{
    width: 360px;
    height: 79px;
}
.rzh_box li{
    float: left;
    width: 60px;
    height: 17px;
    margin-top: 25px;
    margin-left: 5.5px;
}
.rzh_box li:nth-child(7) a{
    font-size: 14px;
}
.rzh_box li:nth-child(9) a{
    font-size: 14px;
}
.rzh_box li:nth-child(2n){
    width: 1px;
    height: 16px;
    background:#e5e0e0;
    margin-top: 28px; 
}
.rzh_box li a{
    display:block;
    font-size: 16px;
    color: #616161;
    text-align: center;
}
.rzh_box li a:hover{
    color: #ff6700;
}
#none_wrapper{
    height: 60px;
    background: #f7f7f7;
}
.none{
     height: 60px;
    background: #f7f7f7;
}
.none ul {
    width: 380px;
    height: 60px;
    margin-left: 452px;
}
.none ul li{
    float: left;
    margin-top: 20px;
    font-size: 14px;
}
.none ul li a{
    display: block;
    font-size: 14px;
    color: #ff6700;
    margin-left: 20px;
}
.none ul li:last-child a{
    color: #b5b5b5;
}
#main{
    height: 2219px;
    background: #f5f5f5;
    /* box-shadow: 10px 5px 20px #e0e0e0;     */
}
.banner_wrapper{
    height: 1184px;
    background: white;
}
.banner{
    height: 1184px;
    background: white;
}
.banner_img{
    float: left;
    width: 613px;
    height: 1184px;
    position: relative;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;

}
.banner_img .swiper-container {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 200px;
}
.banner_case{
    float: right;
    width: 580px;
    height: 100%;
}
.case_box1{
    width: 580px;
    height: 210px;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 25px;
}
.case_box1 h2{
    font-size: 30px;
}
.case_box1 p{
    font-size: 14px;
    line-height: 28px;
    color: #b0b0b0;
}
.case_box1 span{
    display: block;
    font-size: 14px;
    color: #ff6700;
    margin-top: 20px;
}
.case_box1 i{
    display: block;
    font-size: 22px;
    color: #ff6700;
    margin-top: 22px;
}
.case_box1 i b{
    display: inline-block;
    font-size: 16px;
    color: #b0b0b0;
}
.case_box2{
    width: 580px;
    height: 128px;
    margin-top: 50px;
    border: 1px solid #e0e0e0;
    background: #fafafa;
    position: relative;
    padding-left: 30px;
    box-sizing: border-box;
}
.case_box2 span{
    font-size: 16px;
    margin: 0 3px;
    line-height: 128px;
}
.case_box2 span:last-child{
    color: #ff6700;
}
.case_box3{
    width: 580px;
    height: 310px;
    margin-top: 50px;
}
.case_box3 h3{
    font-size: 20px;
}
.case_box3 a{
    display: inline-block;
    width: 270px;
    height: 50px;
    border:1px solid #ff6700;
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 10px;
}
.case_box3 a:nth-child(3){
    border: 1px solid #e0e0e0;
}
.case_box3 a:nth-child(3) span:nth-child(1){
    color: black;
}
.case_box3 a:nth-child(4){
    border: 1px solid #e0e0e0;
}
.case_box3 a:nth-child(4) span:nth-child(1){
    color: black;
}
.case_box3 a span{
    display:inline-block;
    font-size: 12px;
    line-height: 50px;
    color: #ff6752;
}
.case_box3 a span:last-child{
    color: #757575;
    margin-left: 12px;
}
.case_box3 h4{
    font-size: 20px;
    margin-top: 30px;
}
.case_box3 h4 span{
    display: inline-block;
    font-size: 10px;
}
.case_box3 a:last-child{
    border: 1px solid #e0e0e0;
    display: none;
}
.case_box3 a:last-child span:first-child{
    display: inline-block;
    font-size: 14px;
    color: #198d55;
}
.case_box3 a:last-child span:last-child{
    display: inline-block;
    color: black;
}
.banner_case .case_box3 .key{
    display: inline-block;
    color: #ff6700;
}
.banner_case .case_box3 .icon-record{
    display: inline-block;
    margin-left: 100px;
}
.case_box4{
    width: 580px;
    height: 170px;
    margin-top: 36px;
    background: #f9f9fa;
    overflow: hidden;
    padding-left: 40px;
    box-sizing: border-box;
}
.case_box4 p{
    margin-top: 45px;
    font-size: 14px;
    color: #616161;
}
.case_box4 p i{
    display: inline-block;
    margin-left: 240px;
}
.case_box4 span:last-child{
    display: block;
    margin-top: 34px;
    font-size: 24px;
    color: #ff6700;
}
.case_box5{
    width: 580px;
    height: 130px;
    margin-top: 25px;
}
.case_box5 a{
    float: left;
    width: 240px;
    height: 50px;
    background: #ff6700;
    color: white;
    line-height: 50px;
    text-align: center;
}
.case_box5 a:nth-child(2){
    float: left;
    width: 150px;
    height: 50px;
    background: #b0b0b0;
    color: #ffffff;
    margin-left: 16px;
    opacity: 0.7;
}
.case_box5 a:hover{
    background:#f25807;
}
.case_box5 a:nth-child(2):hover{
    background: #b0b0b0; 
    opacity: 1;
}
.case_box5 ul{
    width: 400px;
    height: 30px;
    float: left;
    margin-top: 30px;
}
.case_box5 ul li{
    float: left;
    width: 80px;
    height: 30px;
    position: relative;
}
.case_box5 ul li i{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #b0b0b0;
}
.case_box5 ul li span{
    display: inline-block;
    font-size: 16px;
    color: #b0b0b0;
}
.case_box5 ul li:nth-child(2){
    margin: 0 24px;
}
.case_box5 li:last-child{
    margin-left: 24px;
}
.box_wrapper{
    height: 1034px;
}
.box{
    height: 1034px;
    overflow: hidden;
}
.box h3{
    font-size: 28px;
    margin-top: 30px;
}
.box_case{
    width: 1226px;
    height: 250px;
    background: white;
    margin-top: 30px;
    overflow: hidden;
}
.box_case p{
    padding-left: 62px;
    box-sizing: border-box;
    font-size: 18px;
    color: #060606;
    margin-top: 96px;
}
.box_img{
    width: 1226px;
    height: 200px;
    margin-top: 30px;
}
.box_img img{
    width: 100%;
    height: 100%;
}
.box_img2{
    width: 1226px;
    height: 236px;
    margin-top: 32px;
}
.box_img2 img{
    width: 100%;
    height: 100%;
}
.footer_case ul{
    height: 98px;
}
.footer_case ul li{
    float: left;
    width: 244px;
    height: 98px;
    position: relative;
}
.footer_case ul li a{
    display: block;
    font-size: 18px;
    color: #616161;
    margin-top: 40px;
    margin-left: 80px;
}
.footer_case ul li:nth-child(1) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b;
}
.footer_case ul li:nth-child(3) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b; 
}
.footer_case ul li:nth-child(5) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b; 
}
.footer_case ul li:nth-child(7) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b; 
}
.footer_case ul li:nth-child(9) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b; 
}
.footer_case ul li span{
    cursor:pointer;
}
.footer .footer_case ul li:nth-child(2){
    width: 1px;
    height: 30px;
    background: #e0e0e0;
    margin-top: 40px;
}
.footer .footer_case ul li:nth-child(4){
    width: 1px;
    height: 30px;
    background: #e0e0e0;
    margin-top: 40px;
}
.footer .footer_case ul li:nth-child(6){
    width: 1px;
    height: 30px;
    background: #e0e0e0;
    margin-top: 40px;
}
.footer .footer_case ul li:nth-child(8){
    width: 1px;
    height: 30px;
    background: #e0e0e0;
    margin-top: 40px;
}
.footer_item{
    float: left;
}
.footer_item dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item dd{
    font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item1{
    float: left;
   margin-left: 80px;
}
.footer_item1 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item1 dd{
     font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item2{
    float: left;
   margin-left: 80px;
}
.footer_item2 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item2 dd{
     font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item3{
    float: left;
   margin-left: 80px;
}
.footer_item3 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item3 dd{
    font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item4{
    float: left;
   margin-left: 80px;
}
.footer_item4 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item4 dd{
    font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item5{
    float: left;
   margin-left: 80px;
}
.footer_item5 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item5 dd{
    font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item dd:hover{
    color: #ff673d;
}
.footer_item1 dd:hover{
    color: #ff673d;
}
.footer_item2 dd:hover{
    color: #ff673d;
}
.footer_item3 dd:hover{
    color: #ff673d;
}
.footer_item4 dd:hover{
    color: #ff673d;
}
.footer_item5 dd:hover{
    color: #ff673d;
}
.footer_right a{
    display: block;
    width: 100px;
    height: 30px;
    background: white;
    font-size: 12px;
    color: #ff6700;
    border: 1px solid #ff6700;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 70px;
    padding-left: 30px;
    box-sizing: border-box;
    position: relative;
}
.footer_right a span{
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 12px;
}
.footer_logo{
    float: left;
    background: url(../images/logo-footer.png) no-repeat;
    width: 56px;
    height: 57px;
    margin-top: 38px;
}
.footer_ul{
    float:left;
    margin-left: 12px;
    margin-top: 42px;
    display: block;
}
.footer_ul li{
    float: left;
    font-size: 12px;
    color: #757575;
    cursor: pointer;
}
.footer_ul li span{
    display: inline-block;
    margin: 0 2px;
    color: #bbb0c5;
    cursor: progress;
}
.footer_ul li:hover{
    color: #ff6b00;
}
.copy_item{
    float: left;
    font-size: 12px;
    margin-left: 12px;
    color: #b0b0b0;
    line-height: 21px;
}
.copy_item span{
    display: inline-block;
    cursor: pointer;
}
.copy_item span:hover{
    color: #ff6700;
}
.copy_case{
    float: left;
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 12px;
    line-height: 21px;
}
.copy_case span{
    display: inline-block;
    cursor: pointer;
}
.copy_case span:hover{
    color: #ff6700;
}
.copy_box{
    float: left;
    font-size: 12px;
    margin-left: 68px;
    color: #b0b0b0;
    line-height: 21px;
}
.copy_box span{
    display: inline-block;
    cursor: pointer;
}
.copy_box span:hover{
    color: #ff6700;
}
.copy_keep{
    float: left;
    font-size: 12px;
    margin-left: 68px;
    line-height: 21px;
    color: #b0b0b0;
}
.copy_keep span{
    display: inline-block;
    cursor: pointer;
}
.copy_keep span:hover{
    color: #ff6700;
}
.copy_ul{
    float: left;
    margin:5px 0 0 68px;
}
.copy_ul li{
    float: left;
}
.copy_ul li:nth-child(2){
    margin: 0 5px;
}
.copy_ul li:nth-child(4){
    margin: 0 5px;
}
.copy_right{
    float: left;
    margin-top: 80px;
    font-size: 20px;
    color: #c3c3c3;
    font-family: '宋体';
    margin-left: -24px;
    -webkit-user-select:none;
}