#header_wrapper{
    height: 120px;
    background: white;
    overflow: hidden;
}
.header{
    height: 120px;
    background: white;
    background: url(../images/image_03.jpg) no-repeat;
    width: 248px;
    height: 60px;
    margin-left: 470px;
    margin-top: 30px;
}
.logo{
    display: block;
    width: 248px;
    height: 60px;
    text-indent: -9999px;
}
#banner{
    background: url(../images/icon.jpg) no-repeat center center;
    width: 1530px;
    height: 588px;
    overflow: hidden;
}
.banner_case{
    width:400px;
    height: 500px;
    background: white;
    float: right;
    margin-right: 150px; 
    margin-top: 45px;
    overflow: hidden;
}
.banner_item{
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner_item span{
    display: inline-block;
    font-size: 22px;
    font-family: "宋体";
    padding: 0 50px;
    cursor: pointer;
    font-weight: bold;
}
.banner_item span:nth-child(1){
    color: #f56600;
}
.banner_item span:nth-child(2){
    color: #f56600;
}
.erwei{
    width: 400px;
    height: 420px;
    overflow: hidden;
    display: none;
}
.erwei img{
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}
.erwei p{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    color: #999999;
}
.erwei i{
    display: block;
    font-size: 12px;
    text-align: center;
    color: #999999;
    margin-top: 3px;
}
.erwei p span{
    display: inline-block;
    color: #ef5b00;
    cursor: pointer;
}
.banner_tt{
    width: 400px;
    height: 420px;
}
.banner_box{
    width: 400px;
    height: 200px;
}
.txt{
    margin-bottom: 16px;
    margin-left: 40px;
    border: 1px solid;
    border-color: #e0e0e0;
    padding-left: 16px;
    box-sizing: border-box;
}
.pass{
     margin-bottom: 16px;
     margin-left: 40px;
     border: 1px solid;
     border-color: #e0e0e0;
     padding-left: 16px;
     box-sizing: border-box;
}
.sub{
    margin-left: 40px;
    background: #ef5b00;
    border: 0;
    color: white;
    cursor: pointer;
}
.banner_box p{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner_box p a:nth-child(1){
    display: inline-block;
    color: #ef5b00;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}
.banner_box p a:nth-child(2){
    display: inline-block;
    color: #999999;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}
.banner_week{
    width: 360px;
    height: 120px;
    margin: 100px auto 0;
    border-top: 1px solid #e0e0e0;
    position: relative;
}
.banner_week span{
    position: absolute;
    left: 50%;
    top: -12px;
    margin-left: -40px;
    background:white;
    color:#bbbbbb;
    font-size: 14px;
}
.banner_of{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
#footer{
    width: 700px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
}
#footer ul{
    width: 420px;
    height: 20px;
    margin-left: 160px;
    margin-top: 60px;
    overflow: hidden;
}
#footer ul li{
    float: left;
     color: #757575;
}
#footer ul li a{
    display: inline-block;
    font-size: 12px;
    color: #757575;
    margin: 0 14px;
}
#footer ul li a:hover{
   color: #333333;
}
#footer p{
    font-size: 12px;
    color: #959595;
    text-align: center;
    margin-top: 10px;
}
::-webkit-input-placeholder{
    color: #9da9aa;
}
input{
    outline: none;
    width: 330px;
    height: 40px;
}