
.top ul li:nth-child(2) span {
    position: absolute;
    background: url(../images/font07.png) no-repeat center center;
    background-position: -2px -10px;
    width: 24px;
    height: 40px;
    background-size: 24px 40px;
    margin-top: 10px;
    margin-left: 20px;
    vertical-align: middle;
    cursor: pointer;
}
/* .top ul li:nth-child(2):hover span{
    position: absolute;
    background:url(../images/font08.png) no-repeat;
    background-position: -2px -10px;
    width: 24px;
    height: 40px;
    background-size: 24px 40px;
} */
.container{
    width: 1226px;
    margin: 0 auto;
}
.logo{
    background: url(../images/logo-footer.png) no-repeat;
    float: left;
    width: 56px;
    height: 57px;
    margin-top: 28px;
}
.logo h1 a{
    display: block;
    width: 56px;
    height: 57px; 
    text-indent: -9999px; 
}
.header_box li a{
    display: inline-block;
    font-size: 12px;
    color: #424242;
    line-height: 36px;
}
.header_box li:hover a{
    color: white;
}
.header_box li:hover{
    background:#ff6700;
    cursor: pointer;
}
.header_form span{
    position: absolute;
    right: 24px;
    top: 25px;
    color: #616161;
    cursor: pointer;
}
.header_item{
    position: absolute;
    left: 0;
    top: 63px;
    width: 304px;
    min-height: 300px;
    background: white;
    border: 1px solid #ff6700;
    display: none;
}
.header_keep{
    height: 37px;
    padding-left: 18px;
    box-sizing: border-box;
    cursor: pointer;
}
.header_keep_speac{
    display: block;
    line-height: 37px;
    font-size: 12px;
    color: #424242;
}
.header_keep:hover{
    background: #fafafa;
}
.header_rzh{
    position: absolute;
    left: 143px;
    top: 19px;
    font-size: 10px;
    width: 50px;
    height: 23px;
    background: #eeeeee;
    color: #757575;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}
.header_xwy{
    position: absolute;
    left: 200px;
    top: 19px;
    font-size: 10px;
    width: 92px;
    height: 23px;
    background: #eeeeee;
    color: #757575;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}
.banner_case{
    list-style: none;
    position: relative;
}
.banner_case li{
    position: absolute;
    top: 0;
    left: 0;
}
.banner_case li img{
    width: 100%;
    height: 700px;  
}
.banner_box{
    position: absolute;
    right: 350px;
    bottom: 30px;
    list-style: none;
    width: 100px;
    height: 30px;
}
.banner_box li{
    float: left;
    margin-left: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #cccccc;
}
.banner_box .runing{
    background: orange;
}
.banner_item{
    background: url(../images/icon-keep.png) no-repeat;
}
.one{
    position: absolute;
    left: 15%;
    top: 50%;
    background-position: -10px -20px;
    width: 16px;
    height: 30px;
    cursor: pointer;
}
.two{
    position: absolute;
    right: 15%;
    top: 50%;
    background-position: -57px -20px;
    width: 16px;
    height: 30px;
    cursor: pointer;
}
.three{
    position: absolute;
    left: 15%;
    top: 50%;
    margin-top: -10px;
    margin-left: -5px;
    width: 30px;
    height: 50px;
    background: black;
    opacity: 0.3;
    cursor: pointer;
    display: none;
}
.four{
    position: absolute;
    right: 15%;
    top: 50%;
    margin-top: -10px;
    margin-right: -5px;
    width: 30px;
    height: 50px;
    background: black;
    opacity: 0.3;
    cursor: pointer;
    display: none;
}
.main_case{
    width:1226px;
    height: 544px;
    margin-top: 13px;
    perspective: 900px;
    /* transition: all 2s linear; */
}
.main_case:hover{
    animation: rzh 2s linear;
    box-shadow: 0px 10px 30px #e3e3e3;
}
.main_one{
    width: 604px;
    height: 603px;
}
.main_one img{
    width: 604px;
    height: 446px;
    border: 0;
    cursor: pointer;
}
.main_three{
    width: 604px;
    height: 157px;
    background: white;
    margin-top: -5px;
    padding-left: 60px;
    box-sizing: border-box;
    overflow: hidden;
}
.main_three h3{
    font-size: 28px;
    color: #474747;
    margin-top: 48px;
    cursor: pointer;
}
.main_three p{
    font-size: 16px;
    color: #707070;
    line-height: 30px;
}
.main_three p span{
    display: inline-block;
    padding-left: 130px;
    box-sizing: border-box;
    font-size: 28px;
    color: #ff6700;
}
.main_three p span strong{
    display: inline-block;
    font-size: 14px;
    color: #ff6700;
    font-weight: bold;
}
.main_three p span b{
    display: inline-block;
    font-size: 14px;
    color: #858585;
}
.main_one:hover{
    animation: xwy 2s linear;
    box-shadow: 0px 10px 30px #e3e3e3;
}
.main_two{
    display: inline-block;
    width: 604px;
    height: 603px; 
}
.main_two img{
    width: 604px;
    height: 446px;
    border: 0;
    cursor: pointer;
}
.main_flex{
    width: 604px;
    height: 157px;
    background: white;
    margin-top: -5px;
    padding-left: 60px;
    box-sizing: border-box;
    overflow: hidden;
}
.main_flex h3{
    font-size: 28px;
    color: #474747;
    margin-top: 48px;
    cursor: pointer;
}
.main_flex p{
    font-size: 16px;
    color: #707070;
    line-height: 30px;
}
.main_flex p span{
    display: inline-block;
    padding-left: 130px;
    box-sizing: border-box;
    font-size: 28px;
    color: #ff6700;
}
.main_flex p span strong{
    display: inline-block;
    font-size: 14px;
    color: #ff6700;
    font-weight: bold;
}
.main_flex p span b{
    display: inline-block;
    font-size: 14px;
    color: #858585;
}
.main_two:hover{
    animation: lyy 2s linear;
    box-shadow: 0px 10px 30px #e3e3e3;
}
.footer_case ul{
    height: 98px;
}
.footer_case ul li{
    float: left;
    width: 244px;
    height: 98px;
    position: relative;
}
.footer_case ul li a{
    display: block;
    font-size: 18px;
    color: #616161;
    margin-top: 40px;
    margin-left: 80px;
}
.footer_case ul li:nth-child(1) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b;
}
.footer_case ul li:nth-child(3) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b; 
}
.footer_case ul li:nth-child(5) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b; 
}
.footer_case ul li:nth-child(7) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b; 
}
.footer_case ul li:nth-child(9) span{
    position: absolute;
    left: 50px;
    top: 42px;
    font-size: 20px;
    color: #646c8b; 
}
.footer_case ul li span{
    cursor:pointer;
}
.footer .footer_case ul li:nth-child(2){
    width: 1px;
    height: 30px;
    background: #e0e0e0;
    margin-top: 40px;
}
.footer .footer_case ul li:nth-child(4){
    width: 1px;
    height: 30px;
    background: #e0e0e0;
    margin-top: 40px;
}
.footer .footer_case ul li:nth-child(6){
    width: 1px;
    height: 30px;
    background: #e0e0e0;
    margin-top: 40px;
}
.footer .footer_case ul li:nth-child(8){
    width: 1px;
    height: 30px;
    background: #e0e0e0;
    margin-top: 40px;
}
.footer_item{
    float: left;
}
.footer_item dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item dd{
    font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item1{
    float: left;
   margin-left: 80px;
}
.footer_item1 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item1 dd{
     font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item2{
    float: left;
   margin-left: 80px;
}
.footer_item2 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item2 dd{
     font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item3{
    float: left;
   margin-left: 80px;
}
.footer_item3 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item3 dd{
    font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item4{
    float: left;
   margin-left: 80px;
}
.footer_item4 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item4 dd{
    font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item5{
    float: left;
   margin-left: 80px;
}
.footer_item5 dt{
    font-size: 18px;
    color: #424242;
    margin-bottom: 30px;
}
.footer_item5 dd{
    font-size: 14px;
    color: #757575;
    margin-bottom: 18px;
    cursor: pointer;
}
.footer_item dd:hover{
    color: #ff673d;
}
.footer_item1 dd:hover{
    color: #ff673d;
}
.footer_item2 dd:hover{
    color: #ff673d;
}
.footer_item3 dd:hover{
    color: #ff673d;
}
.footer_item4 dd:hover{
    color: #ff673d;
}
.footer_item5 dd:hover{
    color: #ff673d;
}
.footer_right a{
    display: block;
    width: 100px;
    height: 30px;
    background: white;
    font-size: 12px;
    color: #ff6700;
    border: 1px solid #ff6700;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 70px;
    padding-left: 30px;
    box-sizing: border-box;
    position: relative;
}
.footer_right a span{
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 12px;
}
.footer_logo{
    float: left;
    background: url(../images/logo-footer.png) no-repeat;
    width: 56px;
    height: 57px;
    margin-top: 38px;
}
.footer_ul{
    float:left;
    margin-left: 12px;
    margin-top: 42px;
    display: block;
}
.footer_ul li{
    float: left;
    font-size: 12px;
    color: #757575;
    cursor: pointer;
}
.footer_ul li span{
    display: inline-block;
    margin: 0 2px;
    color: #bbb0c5;
    cursor: progress;
}
.footer_ul li:hover{
    color: #ff6b00;
}
.copy_item{
    float: left;
    font-size: 12px;
    margin-left: 12px;
    color: #b0b0b0;
    line-height: 21px;
}
.copy_item span{
    display: inline-block;
    cursor: pointer;
}
.copy_item span:hover{
    color: #ff6700;
}
.copy_case{
    float: left;
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 12px;
    line-height: 21px;
}
.copy_case span{
    display: inline-block;
    cursor: pointer;
}
.copy_case span:hover{
    color: #ff6700;
}
.copy_box{
    float: left;
    font-size: 12px;
    margin-left: 68px;
    color: #b0b0b0;
    line-height: 21px;
}
.copy_box span{
    display: inline-block;
    cursor: pointer;
}
.copy_box span:hover{
    color: #ff6700;
}
.copy_keep{
    float: left;
    font-size: 12px;
    margin-left: 68px;
    line-height: 21px;
    color: #b0b0b0;
}
.copy_keep span{
    display: inline-block;
    cursor: pointer;
}
.copy_keep span:hover{
    color: #ff6700;
}
.copy_ul{
    float: left;
    margin:5px 0 0 68px;
}
.copy_ul li{
    float: left;
}
.copy_ul li:nth-child(2){
    margin: 0 5px;
}
.copy_ul li:nth-child(4){
    margin: 0 5px;
}
.copy_right{
    float: left;
    margin-top: 80px;
    font-size: 20px;
    color: #c3c3c3;
    font-family: '宋体';
    margin-left: -24px;
    -webkit-user-select:none;
}
@keyframes rzh{
    0%{
        transform: translateY(-3.5px);
    }
    25%{
        transform: translateY(-7px);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes xwy{
    0%{
        transform: translateY(-3.5px);
    }
    25%{
        transform: translateY(-7px);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes lyy{
    0%{
        transform: translateY(-3.5px);
    }
    25%{
        transform: translateY(-7px);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}