body,html{
    background: #f9f9f9;
}
#box{
    width: 940px;
    height: 604px;
    background: white;
    margin: 100px auto;
}
.my_xiaomi{
    width: 52px;
    height: 52px;
    margin-left: 445px;
}
.my_xiaomi img{
    width: 100%;
    height: 100%;
}
#box h1{
    font-size: 28px;
    color: black;
    text-align: center;
    margin-top: 44px;
    line-height: 40px;
}
.case{
    width: 370px;
    height:430px;
    margin: 30px auto;
    position: relative;
}
.icon-roundcheck{
    color: green;
    display: none;
}
.one{
    position: absolute;
    right: 10px;
    top: 35px;
}
.two{
    position: absolute;
    right: 10px;
    top: 105px;
}
.three{
    position: absolute;
    right: 10px;
    top: 173px;
}
.four{
    position: absolute;
    right: 10px;
    top: 242px;
}
.item{
    position: absolute;
    right: 10px;
    top: 35px;
}
.item1{
    position: absolute;
    right: 10px;
    top: 105px;
}
.item2{
    position: absolute;
    right: 10px;
    top: 173px;
}
.item3{
    position: absolute;
    right: 10px;
    top: 242px;
}
.icon-roundclosefill{
    color: red;
    display: none;
}
#txt{
    margin-top: 25px;
    margin-left: 17px;
    width: 290px;
    height: 35px;
}
#pass{
     width: 290px;
     height: 35px;
     margin-left:32px;
     margin-top: 30px; 
}
#user_pass{
    width: 290px;
    height: 35px; 
    margin-top: 30px;
}
#tel{
    width: 290px;
    height: 35px; 
    margin-top: 30px; 
}
.sub{
    width: 360px;
    height: 35px;
    margin-top: 50px;
    margin-left: 5px;
    background: #ff6700;
    border: 0;
    color: white;
    cursor: pointer;
}
.copy{
    position: relative;
}
.copy ul{
    position: absolute;
    right: 40%;
    bottom: 30px;
} 
.copy ul li{
    float: left;
    color: #757575;
}
.copy ul li a{
    display: inline-block;
    font-size: 12px;
    color: #757575;
     margin: 0 13px;
}
.copy ul li a:hover{
    color:  #333333;
}
.copy p{
    text-align: center;
    margin-top: -20px;
    font-size: 12px;
    color: #757575;
}
.copy p span{
    display: inline-block;
    margin: 0 2px;
}
input{
    outline: none;
}
::-webkit-input-placeholder{
    color: red;
}